[submodule "apps/cms"]
	path = apps/cms
	url = https://github.com/Heiso-admin/nbee-cms.git
	branch = main
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/Heiso-admin/Core-BEE.git
	branch = demo/none_2fa
[submodule "packages/hive"]
	path = packages/hive
	url = https://github.com/Heiso-admin/Hive.git
	branch = main