[submodule "apps/cms"]
	path = apps/cms
	url = https://github.com/Heiso-admin/nbee-cms.git
	branch = chore/setup-monorepo-structure
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/Heiso-admin/Core-BEE.git
	branch = chore/setup-monorepo-structure
