@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
	@apply overflow-y-hidden;
}

.main-section-item {
	@apply my-4 ml-4 flex-col last:mr-4;
}

.layout-split-pane {
	@apply bg-background border p-3 rounded-xl;
}

.font-lato {
	font-family: "Lato", sans-serif;
}

@theme inline {
	--color-background: var(--background);
	--color-sub-background: var(--sub-background);
	--color-foreground: var(--foreground);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-brand: var(--brand);
	--color-highlight: var(--highlight);
	--color-sub-highlight: var(--sub-highlight);
	--color-neutral: var(--text-Neutral);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-amber-600: var(--amber-600);
	--color-amber-500: var(--amber-500);
	--color-amber-400: var(--amber-400);
	--color-amber-300: var(--amber-300);
	--color-amber-200: var(--amber-200);
	--color-amber-100: var(--amber-100);
	--color-amber-50: var(--amber-50);
	--color-gray-900: var(--gray-900);
	--color-gray-800: var(--gray-800);
	--color-gray-600: var(--gray-600);
	--color-gray-400: var(--gray-400);
	--color-gray-200: var(--gray-200);
	--color-gray-100: var(--gray-100);
	--color-slate-900: var(--slate-900);
	--color-slate-800: var(--slate-800);
	--color-slate-700: var(--slate-700);
	--color-slate-400: var(--slate-400);
	--color-slate-100: var(--slate-100);
	--color-slate-0: var(--slate-0);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--sub-background: var(--slate-100);
	--text-Neutral: var(--gray-600);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: var(--amber-300);
	--primary-foreground: var(--slate-700);
	--secondary: var(--gray-200);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: var(--gray-800);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: var(--amber-300);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: var(--amber-100);
	--sidebar-accent-foreground: var(--slate-800);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--brand: oklch(0.623 0.214 259.815);
	--highlight: oklch(0.852 0.199 91.936);
	--sub-highlight: var(--amber-600);
	--amber-600: #d97706;
	--amber-500: #f59e0b;
	--amber-400: #fbbf24;
	--amber-300: #fcd34d;
	--amber-200: #fae180;
	--amber-100: #fef3c7;
	--amber-50: #fae180;
	--gray-900: #464646;
	--gray-800: #666666;
	--gray-600: #999999;
	--gray-400: #9ca3af;
	--gray-200: #efefef;
	--gray-100: #fafafa;
	--slate-900: #111111;
	--slate-800: #171717;
	--slate-700: #374151;
	--slate-400: #94a3b8;
	--slate-100: #f1f5f9;
	--slate-0: #fefefe;
	--error: #ff4d4d;
	--error-hover: #ed7a6a;
}

.dark {
	--background: oklch(0.145 0 0);
	--sub-background: var(--slate-900);
	--text-Neutral: #aaaaaa;
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: var(--amber-400);
	--primary-foreground: var(--slate-800);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: var(--amber-400);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: var(--amber-100);
	--sidebar-accent-foreground: var(--slate-800);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
	--brand: oklch(0.707 0.165 254.624);
	--highlight: oklch(0.852 0.199 91.936);
	--sub-highlight: var(--amber-400);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}